/Assets/Scripts/PokeScript.cs.meta
/Assets/Scripts/ExplosionScript.cs
/Assets/Scripts/ExplosionScript.cs.meta
/Assets/Scripts/MassExplosionScript.cs
/Assets/Scripts/MassExplosionScript.cs.meta
/Assets/Scripts/PokeScript.cs
